<h5>
    <p style="padding: 3% 10%">
        1. Roof Tiling
    </p>
</h5>

<h5>
    <p style="padding: 3% 10%">
        2. Floor Tiling
    </p>
</h5>
<h5>
    <p style="padding: 3% 10%">
        3. Painting
    </p>
</h5>
<h5>
    <p style="padding: 3% 10%">
        4. Paving
    </p>
</h5>

<h5>
    <p style="padding: 3% 10%">
        5. Ceiling Installation
    </p>
</h5>

<h5>
    <p style="padding: 3% 10%">
        6. Architecture and Design
    </p>
</h5>

<h5>
    <p style="padding: 3% 10%">
        7. Bridge inspections
    </p>
</h5>