/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */


/* @import '~material-design-icons/iconfont/material-icons.css'; */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.m {
    margin-top: 5%;
    margin: auto;
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.d {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.e {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0 0 0 0;
    margin: 0;
    background-color: white;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: #f4f5f9;
}

.landing-container {
    position: fixed;
    top: 40px;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0 0 0 0;
    margin: 0;
    background-color: white;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../src/assets/images/bg8.jpeg');
    z-index: -1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.TestLogo {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: left;
        justify-content: flex-end;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}